<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="common_head(title)">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title th:text="${title}"></title>
      <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
      <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
      <link th:href="@{/css/amazeui.min.css}" type="text/css" rel="stylesheet"/>
      <!--<link th:href="@{/css/amazeui.flat.min.css}" type="text/css" rel="stylesheet"/>-->
      <link type="text/css" th:href="@{/css/nprogress.css}" rel="stylesheet"/>

      <!--[if lt IE 9]>
      <script th:src="@{/js/html5shiv.min.js}" type="text/javascript"></script>
      <script th:src="@{/js/respond.min.js}" type="text/javascript"></script>
      <script th:src="@{/js/selectivizr-min.js}" type="text/javascript"></script>
      <![endif]-->
      <link rel="apple-touch-icon-precomposed" th:href="@{/images/icon/icon.png}"/>
      <link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />

      <meta name="Keywords" content="dymaosuper,java,spring,spring boot,linux,shell,mybatis" />
      <meta name="description" content="dymaosuper,java,spring,spring boot,linux,shell,mybatis" />
      <script type="text/javascript">
        //判断浏览器是否支持HTML5
        window.onload = function() {
          if (!window.applicationCache) {
            window.location.href="ie.html";
          }

        }
      </script>
    </head>
  </div>
</body>
</html>
