<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="right">
        <aside class="sidebar visible-lg"><!--右侧>992px显示-->
            <div class="sentence"> <strong>每日一句</strong>
                <h2 th:text="${session.currentDate}"></h2>
                <p th:text="${session.DailySentence}"></p>
            </div>
            <div data-am-widget="tabs" style="width: 100%" class="am-tabs am-tabs-d2">
                <ul class="am-tabs-nav am-cf">
                    <li class="am-active"><a href="[data-tab-panel-0]">滚动播报</a></li>
                    <li class=""><a href="[data-tab-panel-1]">天气</a></li>
                    <li class=""><a href="[data-tab-panel-2]">联系站长</a></li>
                    <li class=""><a href="[data-tab-panel-3]">赞助站长</a></li>
                </ul>
                <div class="am-tabs-bd">
                    <div data-tab-panel-0 class="am-tab-panel am-active">
                        敬请期待！
                    </div>
                    <div data-tab-panel-1 class="am-tab-panel ">
                        敬请期待！
                    </div>
                    <div data-tab-panel-2 class="am-tab-panel ">
                        <div style="font-size: 18px;padding: 5px">
                            <div><span style="font-weight: bold;padding-right: 15px;">Email:</span>dymaosuper@163.com</div>
                            <div><span style="font-weight: bold;padding-right: 15px;">Q&nbsp;&nbsp;Q:</span>273880255</div>
                        </div>
                    </div>
                    <div data-tab-panel-3 class="am-tab-panel ">
                        【歌唱】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                    </div>
                </div>
            </div>
            <div id="search" class="sidebar-block search" role="search">
                <h2 class="title"><strong>站内搜索</strong></h2>
                <form class="navbar-form" action="search.php" method="post">
                    <div class="input-group">
                          <input type="text" class="form-control" size="35" placeholder="请输入关键字" />
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="submit">搜索</button>
                         </span>
                    </div>
                </form>
            </div>
            <div class="sidebar-block cloud">
                <h2 class="title"><strong>标签云</strong></h2>
                <ul>
                    <li><a href="/">个人博客</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                    <li><a href="/">Javasript</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                </ul>
            </div>
            <div class="sidebar-block recommend">
                <h2 class="title"><strong>热门推荐</strong></h2>
                <ul>
                    <li><a target="_blank" href=""> <!--<span class="thumb"><img th:src="@{/images/icon/icon.png}" alt=""/></span>--> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
                    <li><a target="_blank" href=""> <!--<span class="thumb"><img th:src="@{/images/icon/icon.png}" alt=""/></span>--> <span class="text">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
                </ul>
            </div>
            <div class="sidebar-block comment">
                <h2 class="title"><strong>最新留言</strong></h2>
                <ul>
                    <li data-toggle="tooltip" data-placement="top" title="站长的评论"><a target="_blank" href=""><span class="am-badge am-badge-secondary am-round">1</span><span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
                        欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
                    <li data-toggle="tooltip" data-placement="top" title="读者墙上的评论"><a target="_blank" href=""><span class="am-badge am-badge-secondary am-round">2</span><span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
                        欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
                    <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="am-badge am-badge-secondary am-round">3</span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
                         欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
                    <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="am-badge am-badge-secondary am-round">4</span><span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
                         欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
                    <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="am-badge am-badge-secondary am-round">5</span><span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
                        欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
                </ul>
            </div>
            <div class="sidebar-block friendLink">
                <h2 class="title"><strong>友情链接</strong></h2>
                <ul>
                    <li th:each="friendlink :${session.friendlinkList}"><a th:href="@{${friendlink.url}}"  target="_blank" th:text="${friendlink.title}"></a></li>
                </ul>
            </div>
        </aside>
    </div>
</body>
</html>
