<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="/admin/common::common('新增博文')"></div>
    <link rel="stylesheet" th:href="@{/admin/lib/layui/css/layui.css}"  media="all">
</head>
<body class="childrenBody">
<form class="layui-form" style="padding: 5px;">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;">文章标题</label>
        <div class="layui-input-block">
            <input type="title" class="layui-input" lay-verify="required" style="margin: 0px;" placeholder="请输入文章标题">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 110px;">浏览权限</label>
            <div class="layui-input-inline">
                <select name="browseLook" class="newsLook" lay-filter="browseLook">
                    <option value="0">开放浏览</option>
                    <option value="1">会员浏览</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;">关键字</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" placeholder="请输入文章关键字,以英文逗号分隔">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="file" class="layui-form-label" style="width: 110px;">
            <span class="x-red">*</span>缩略图
        </label>
        <div class="layui-input-inline">
            <div class="site-demo-upbar">
                <input type="file" name="file" class="layui-upload-file" id="file"/>
            </div>
        </div>
        <!--<img id="LAY_demo_upload" width="400"    src=""/>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;">内容摘要</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容摘要" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;">文章内容</label>
        <div class="layui-input-block">
            <div id="content">
                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            </div>
            <!--<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="ncontent"></textarea>-->
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script th:src="@{/admin/lib/layui/layui.js}"  charset="utf-8"></script>
<script th:src="@{/admin/js/x-layui.js}" charset="utf-8"></script>
<script th:src="@{/admin/js/wangEditor.js}" charset="utf-8"></script>
<!--<script type="text/javascript" th:src="@{/admin/js/blogAdd.js}"></script>-->
<script>
    layui.use(['form', 'layer', 'jquery','element','upload'], function() {
        var form = layui.form();
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层


        //图片上传接口
        layui.upload({
            url: '/admin/banner/uploadImg' //上传接口
            ,success: function(res){ //上传成功后的回调
                console.log(res);
                $('#LAY_demo_upload').attr('src',res.url);
                $('#image').val(res.url);
            }
        });

        form.on('submit(add)', function(data){
            var index = top.layer.msg('数据提交中，请稍候', {
                icon: 16,
                time: false,
                shade: 0.8
            });
            $.ajax({
                url: "/admin/blog/add",
                data: data.field,
                type: "Post",
                dataType: "json",
                success: function (res) {
                    if (res.count > 0) {
                        layer.alert("新增成功", {icon: 6});
                    } else {
                        layer.alert("新增失败", {icon: 6});
                    }
                },
                error: function (data) {
                    layer.alert('错误', data.msg);
                }
            });
            return false;
        });
    });
    var E = window.wangEditor
    var editor = new E('#content')
    editor.customConfig.menus = ['head', 'bold', 'italic', 'underline', 'strikeThrough', 'foreColor', 'backColor', 'link', 'list', 'justify', 'quote', 'emoticon', 'image', 'table', 'video', 'code', 'undo', 'redo']
    editor.create()

</script>
</body>
</html>