<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="admin/common::common('新增博文')"></div>
    <link rel="stylesheet" th:href="@{/admin/lib/layui/css/layui.css}"  media="all">
</head>
<body class="childrenBody">
<form class="layui-form" style="padding: 5px;" id="blogForm">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" id="title" class="layui-input" lay-verify="required" style="margin: 0px;" placeholder="请输入文章标题">
            <div class="layui-input-inline">
                <input type="hidden" id="content" name="content" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>浏览权限</label>
            <div class="layui-input-inline">
                <select name="authority" id="authority" lay-filter="authority">
                    <option value="0">所有人可见</option>
                    <option value="1">仅会员可见</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>一级分类</label>
            <div class="layui-input-inline">
                <select  id="categoryIdOne" name="categoryIdOne"  lay-filter="categoryIdOne">
                    <option th:each="categoryOneLevel:${categoryOneLevelList}" th:value="${categoryOneLevel.id}" th:text="${categoryOneLevel.name}"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>二级分类</label>
            <div class="layui-input-inline">
                <select id="categoryIdTwo" name="categoryIdTwo"  lay-filter="categoryIdTwo">
                    <option  value="">请选择二级分类</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>是否原创</label>
            <div class="layui-input-inline">
                <select name="isTransshipment" id="isTransshipment" lay-filter="isTransshipment">
                    <option value="0">原创</option>
                    <option value="1">转载</option>
                </select>
            </div>
        </div>
        <div class="layui-inline" id="ransshipmentUrlDiv" style="display: none">
            <label class="layui-form-label" style="width: 110px;">转载地址</label>
            <div class="layui-input-inline">
                <input  type="text" class="layui-input"  id="transshipmentUrl" name="transshipmentUrl"  placeholder="请输入转载地址" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>关键字</label>
        <div class="layui-input-block">
            <input type="text" id="keyword" name="keyword" class="layui-input" placeholder="请输入文章关键字,以英文逗号分隔" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>标签</label>
        <div class="layui-input-block">
            <input th:each="label:${labelList}"  th:title="${label.labelName}" type="checkbox" name="label" th:value="${label.id}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label for="titleImg" class="layui-form-label" style="width: 110px;">
            <span class="x-red">*</span>缩略图
        </label>
        <div class="layui-input-inline" id="imgDiv">
            <div class="site-demo-upbar">
                <input type="file" name="titleImg"  id="titleImg" class="layui-upload-file" id="titleImg"/>
            </div>
        </div>
        <div class="layui-input-inline">
            <input type="hidden" id="image" name="image" />
        </div>
        <!--<img id="LAY_demo_upload" width="400"    src=""/>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>内容摘要</label>
        <div class="layui-input-block">
            <textarea name="contentShow" id="contentShow" placeholder="请输入内容摘要" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 110px;"><span class="x-red">*</span>文章内容</label>
        <div class="layui-input-block">
            <div id="contentArea">
                <p></p>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="publish" lay-submit="" lay-filter="publish">发表</button>
           <!-- <button class="layui-btn" id="save" lay-submit="save" lay-filter="save">保存</button>-->
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script th:src="@{/admin/lib/layui/layui.js}"  charset="utf-8"></script>
<script th:src="@{/admin/js/x-layui.js}" charset="utf-8"></script>
<script th:src="@{/admin/js/wangEditor.js}" charset="utf-8"></script>
<!--<script type="text/javascript" th:src="@{/admin/js/blogAdd.js}"></script>-->
<script>
    layui.use(['form', 'layer', 'jquery','element','upload'], function() {
        var form = layui.form();
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层
        $form = $('form');

        form.on('select(categoryIdOne)', function(data) {
            $.ajax({
                url: "/admin/category/getBolgCategoryTwoLevelList",
                data: {"parentId":data.value},
                type: "Get",
                dataType: "json",
                success: function (res) {
                    if( res.returnCode ==200){
                        var categoryTwoLevelHtml = '';
                        for (var i = 0; i < res.data.length; i++) {
                            categoryTwoLevelHtml += '<option value="' + res.data[i].id + '">' + res.data[i].name + '</option>';
                        }
                        $form.find('select[name=categoryIdTwo]').html(categoryTwoLevelHtml).parent().show();
                        form.render();
                    }
                },
                error: function (data) {
                    layer.alert('加载二级分类出错', data.returnMsg);
                }
            });
            return false;
        });

        form.on('select(isTransshipment)', function(data) {
            console.log(data.value);
            if(data.value == 1){
                $('#ransshipmentUrlDiv').show();
            }else{
                $('#ransshipmentUrlDiv').hide();
            }
            return false;
        });
        //图片上传接口
        layui.upload({
            url: '/admin/fileUpload/blogTitleImg' //上传接口
            ,success: function(res){ //上传成功后的回调
                console.log(res);
                if($("#showImg").length>0){
                    $('#showImg').attr('src',res.url);
                }else {
                    $("#imgDiv").after('<img width="250px" height="200px"  id="showImg" src="' + res.url + '" />');
                }
                $('#image').val(res.url);
            }
        });

        form.on('submit(publish)', function(data){
            saveData(data);
            return false;
        });

     /*   form.on('submit(save)', function(data){
            $("#isPublic").val(1); //发表
            saveData(data);
            return false;
        });*/
        function saveData(data){
           // console.log(data.field);
            //console.log($('#blogForm').serialize());
            $.ajax({
                url: "/admin/blog/add",
                data: $('#blogForm').serialize(),
                type: "Post",
                dataType: "json",
                success: function (res) {
                    if (res.returnCode ==200) {
                        layer.alert("保存成功", {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            location.replace(location.href);
                        });
                    } else {
                        layer.alert("保存失败", {icon: 6});
                    }
                },
                error: function (data) {
                    layer.alert('错误', data.msg);
                }
            });
        }
    });
    var E = window.wangEditor
    var editor = new E('#contentArea')
    editor.customConfig.menus = ['head', 'bold', 'italic', 'underline', 'strikeThrough', 'foreColor', 'backColor', 'link', 'list', 'justify', 'quote', 'emoticon', 'image', 'table', 'video', 'code', 'undo', 'redo']
    editor.customConfig.uploadImgServer = '/admin/fileUpload/blogImg';
    editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
    editor.customConfig.uploadImgMaxLength = 5;
    // 将 timeout 时间改为 30s
    editor.customConfig.uploadImgTimeout = 30000;
    //上传图片时，可自定义filename，即在使用formdata.append(name, file)添加图片文件时，自定义第一个参数。
    editor.customConfig.uploadFileName = 'blogImg';
    editor.create()

    document.getElementById('publish').addEventListener('click', function () {
        $("#content").val(editor.txt.html());
    }, false)
</script>
</body>
</html>