<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="admin/common::common('博客列表')"></div>
    <link rel="stylesheet" th:href="@{/admin/css/blog.css}" media="all" />
    <link rel="stylesheet" th:href="@{/admin/lib/layui/css/layui.css}"  media="all">
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
        </div>
        <a class="layui-btn">查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal newsAdd_btn" style="background-color:#9e548f">添加博客</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn recommend" style="background-color:#5FB878">推荐博客</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn audit_btn">审核博客</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
    </div>
</blockquote>
<div class="news_list">
    <table class="layui-table" style="text-align: left">
        <thead>
        <tr style="text-align: center;">
            <th>
                <input type="checkbox" id="selectAll" name="selectAll" />
            </th>
            <th>
                标题
            </th>
            <th>
                一级分类
            </th>
            <th>
                二级分类
            </th>
            <th>
                博客关键字
            </th>
            <th>
                发表状态
            </th>
            <th>
                浏览次数
            </th>
            <th>
                点赞次数
            </th>
            <th>
                被踩次数
            </th>
            <th>
                浏览权限
            </th>
            <th>
                是否原创
            </th>
            <th>
                是否推荐
            </th>
            <th>
                作者
            </th>
            <th>
                审核状态
            </th>
            <th>
                删除状态
            </th>
            <th>
                更新时间
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blogVo:${blogVoList}">
            <td>
                <input type="checkbox" th:value="${blogVo.id}" name="blogCheckbox" id="blogCheckbox"/>
            </td>
            <td th:text="${blogVo.title}"></td>
            <td th:text="${blogVo.categoryOneName}"></td>
            <td th:text="${blogVo.categoryTwoName}"></td>
            <td th:text="${blogVo.keyword}"></td>

            <td th:if="${blogVo.isPublic}==0">已发表</td>
            <td style="color:#f00" th:if="${blogVo.isPublic}==1">未发表</td>

            <td th:text="${blogVo.viewNum}"></td>
            <td th:text="${blogVo.likeNum}"></td>
            <td th:text="${blogVo.treadNum}"></td>

            <td th:if="${blogVo.authority}==0">所有人可见</td>
            <td th:if="${blogVo.authority}==1">仅会员可见</td>


            <td th:if="${blogVo.isTransshipment}==0">原创</td>
            <td th:if="${blogVo.isTransshipment}==1">转载</td>

            <td id="recommendId" th:if="${blogVo.isRecommend}==0">否</td>
            <td id="recommendId" th:if="${blogVo.isRecommend}==1">是</td>

            <td th:text="${blogVo.userName}"></td>

            <td id="auditId" th:if="${blogVo.isAudit}==0">已审核</td>
            <td id="auditId" style="color:#f00" th:if="${blogVo.isAudit}==1">待审核</td>

            <td th:if="${blogVo.deleted}==0">正常</td>
            <td style="color:#f00" th:if="${blogVo.deleted}==1">已删除</td>

            <td th:text="${#dates.format(blogVo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td class="td-manage">
                <a title="编辑" href="javascript:;" th:onclick="'blog_edit(\'编辑\',\'/admin/blog/toEditPage/'+${blogVo.id}+'\',\'1027\',\'768\')'" class="ml-5" style="text-decoration:none ;color: rgb(66, 139, 202);">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" href="javascript:;" th:onclick="'blog_del(this,\''+${blogVo.id}+'\')'"
                   style="text-decoration:none;color: rgb(66, 139, 202);">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="page"></div>
</div>
<script th:src="@{/admin/lib/layui/layui.js}"  charset="utf-8"></script>
<script th:src="@{/admin/js/x-layui.js}" charset="utf-8"></script>
<script>
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层

        //以上模块根据需要引入
        laypage({
            cont: 'page'
            ,pages: 20
            ,first: '首页'
            ,last: '尾页'
            ,prev: '上一页'
            ,next: '下一页'
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第 '+ obj.curr +' 页');
                }
            }
        });

        $(".newsAdd_btn").click(function () {
            var index = layer.open({
                title: "添加博文",
                type: 2,
                area: ['1024px', '768px'],
                content: "/admin/blog/toAddPage",
                success: function (layero, index) {
                    layui.layer.tips('点击此处返回文章列表', '.layui-layer-setwin .layui-layer-close', {tips: 3});
                }
            })
            /*$(window).resize(function () {
                layui.layer.full(index);
            })
            layui.layer.full(index);*/


        });

        $(function () {
            $("#selectAll").change(function() {
                if ($(this).prop("checked")) {  // 因jquery版本原因，此处用$(this).attr("checked")拿不到是否选中状态，改用prop后可正常使用
                    $("input[name=blogCheckbox]").each(function() {
                        $(this).prop("checked", true);
                    });
                } else {
                    $("input[name=blogCheckbox]").each(function() {
                        $(this).prop("checked", false);
                    });
                }
            });
        });

        function getCheckedboxValue() {
            var ckbValue = "";
            $("input[name=blogCheckbox]:checked").each(function () {
                ckbValue = ckbValue + $(this).val() + ",";
            });
            return ckbValue.substring(0, ckbValue.length - 1);

        };

        $(".recommend").click(function () {
            var blogIds = getCheckedboxValue();
            if(blogIds == ''){
                layer.msg('请先选中要推荐的博客', {icon: 5,time:1000});
                return ;
            }
            if(blogIds.indexOf(',') > 0){
                layer.msg('每次最多只能选择一篇博文进行推荐', {icon: 5,time:1000});
                return ;
            }
            layer.confirm('确认要推荐吗？',function(index){
                $.ajax({
                    url:"/admin/blog/recommend/"+blogIds,
                    data:'',
                    type:"Post",
                    dataType:"json",
                    success:function(res){
                        if(res.returnCode == 200){
                            layer.msg('推荐成功!',{icon:1,time:1000});
                            $("input[name=blogCheckbox]:checked").each(function () {
                                $(this).parents("tr").find("#recommendId").text('是');
                            });
                        }else{
                            layer.msg(res.returnMsg,{icon:5,time:1000});
                        }
                    },
                    error:function(data){
                        layer.msg('错误','推荐失败');
                    }
                });
            });
        });
        $(".audit_btn").click(function () {
            var blogIds = getCheckedboxValue();
            if(blogIds == ''){
                layer.msg('请先选中要审核的博客', {icon: 5,time:1000});
                return ;
            }
            if(blogIds.indexOf(',') > 0){
                layer.msg('每次最多只能选择一篇博文进行审核', {icon: 5,time:1000});
                return ;
            }

            layer.confirm('确认要审核吗？',function(index){
                $.ajax({
                    url:"/admin/blog/audit/"+blogIds,
                    data:'',
                    type:"Post",
                    dataType:"json",
                    success:function(res){
                        if(res.returnCode == 200){
                            // $(obj).parents("tr").remove();
                            layer.msg('审核成功!',{icon:1,time:1000});
                            $("input[name=blogCheckbox]:checked").each(function () {
                                $(this).parents("tr").find("#auditId").text('已审核');
                                $(this).parents("tr").find("#auditId").css('color','#000');
                            });
                        }else{
                            layer.msg(res.returnMsg,{icon:5,time:1000});
                        }
                    },
                    error:function(data){
                        layer.msg('错误','审核失败');
                    }
                });
            });
        });



        /*var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };*/

      /*  document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this
            laydate(end);
        }*/
    });

    function blog_edit (title,url,w,h) {
        x_admin_show(title,url,w,h);
    }

    //批量删除提交
    function delAll () {
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }

    function blog_show (argument) {
        layer.msg('可以跳到前台具体问题页面',{icon:1,time:1000});
    }

    /*删除*/
    function blog_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"/admin/blog/del/"+id,
                data:'',
                type:"Post",
                dataType:"json",
                success:function(res){
                    if(res.count > 0){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.msg('删除失败!',{icon:5,time:1000});
                    }
                },
                error:function(data){
                    layer.msg('错误','删除失败');
                }
            });
        });
    }

</script>

</body>
</html>