<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>个人博客后台管理系统登录</title>
  <link rel="stylesheet" th:href="@{/admin/css/login.css}" media="all"/>
  <script type="text/javascript" th:src="@{/admin/js/jquery.min.js}"></script>
  <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
</head>
<body class="login-bg">
    <canvas id="fullstarbg">你的浏览器不支持canvas标签</canvas>
    <div class="login">
        <div class="message">博客后台管理系统登录</div>
        <div id="darkbannerwrap"></div>   
        <form method="post" class="layui-form" >
            <span th:if="${errorStatus =='1' }" style="color: #ff0000" ><br/>验证码失效</span>
            <span th:if="${errorStatus =='2' }" style="color: #ff0000" ><br/>验证码错误</span>
            <span th:if="${errorStatus =='3' }" style="color: #ff0000" ><br/>验证码不能为空</span>
            <span th:if="${errorStatus =='4' }" style="color: #ff0000" ><br/>用户名或密码错误</span>
            <span th:if="${errorStatus =='5' }" style="color: #ff0000" ><br/>用户已销户，请检查</span>
            <span th:if="${errorStatus =='6' }" style="color: #ff0000" ><br/>您的用户已被冻结,详情请联系管理员</span>
            <span th:if="${errorStatus =='7' }" style="color: #ff0000" ><br/>用户已被锁定，请稍后再试，如紧急，请联系管理员解锁</span>
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" />
            <hr class="hr15"/>
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input"/>
            <hr class="hr15"/>
            <input name="checkCode" placeholder="图形验证码"  style="display:inline;width: 48%"  type="text" lay-verify="required" class="layui-input" />
            <img alt="验证码" style="height: 49px;" onclick = "this.src='/imageToken/getImageToken?d='+new Date()*1" src="/imageToken/getImageToken" />
            <hr class="hr15"/>
            <input value="登录" lay-submit="" lay-filter="login" style="width:100%;" type="submit"/>
            <hr class="hr20" />
        </form>
    </div>
    <script>
            layui.use(['form'],
            function() {
                $ = layui.jquery;
                var form = layui.form(),
                layer = layui.layer;
                //监听提交
                form.on('submit(login)',function(data) {
                    location.href = "/admin/login?"+data.field;
                    return false;
                });

            });

        </script>

    
    <!-- 底部结束 -->
    
</body>
</html>