<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
<div th:include="common/common_head::common_head('Mervin的技术博客')"></div>
<body>
<header class="am-topbar am-topbar-inverse nav-style">
    <div th:include="common/menu::top">
    </div>
</header>
<section class="container user-select">
  <!--/超小屏幕可见-->
  <div class="content-wrap"><!--内容-->
    <div class="content">
      <div class="content-block new-content">

        <h2 th:if="${#strings.isEmpty(searchWord)}" class="title"><strong>博文列表</strong></h2>
        <h2 th:if="${!#strings.isEmpty(searchWord)}"  class="title"><strong>搜索到关键字为"<span style="color: #FF0000" th:text="${searchWord}"></span>"的文章共<span th:text="${totalNum}"></span>篇</strong></h2>
          <div th:if="${#lists.isEmpty(pageInfo.list)}" >该分类下暂无数据</div>
          <div class="inner-box blog-img am-gallery-item " th:each="blog : ${pageInfo.list}">
            <div class="am-g">
              <div class="col-md-2">
                <a class="blog-a-curse" href="#">
                  <img class="am_img animated" th:alt="${blog.title}" th:src="@{${blog.image}}" style="display: inline;" />
                </a>
              </div>
              <div class="col-md-10">
                <div class="blog-header">
                    <span th:if="${blog.categoryIdOne=='1'}" class="index-label index-label-blog"  th:text="${blog.categoryOneName}"></span>
                    <span th:if="${blog.categoryIdOne=='2'}" style="background-color: #3fb8af;"  class="index-label index-label-blog" th:text="${blog.categoryOneName}"></span>
                    <span th:if="${blog.categoryIdOne=='3'}" style="background-color: #A576F7;"  class="index-label index-label-blog" th:text="${blog.categoryOneName}"></span>
                    <a href="#" class="blog-category"  th:text="${blog.categoryTwoName}"></a>
                  <h3><a th:href="@{'/blog/detail/'+${blog.id}}" th:text="${blog.title}" ></a></h3>
                </div>
                  <p class="blog-ext">
                    <span th:if="${blog.isTransshipment == '0'}">原创</span>
                    <span th:if="${blog.isTransshipment == '1'}">转载</span>
                    <span class="blog-ext-ico">
                        <i class="glyphicon glyphicon-user"></i>
                       <span th:text="${blog.userId}"></span>
                    </span>
                    <span class="blog-ext-ico"><i class="glyphicon glyphicon-time"></i><span class="list-date" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span></span>
                    <span class="blog-ext-ico">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span th:text="'共'+${blog.viewNum}+'人围观'"></span>
                    </span>
                </p>
                <p class="blog-content-show" th:text="${blog.contentShow}">
                </p>
                <!--<span style="color:#999;font-size:16px;margin-top: 11px"  class="glyphicon glyphicon-thumbs-up" th:text="'('+${blog.likeNum}+')'" ></span><span style="color:#999;font-size:16px;margin-top: 11px;margin-left: 10px;"  class="glyphicon glyphicon-thumbs-down" th:text="'('+${blog.treadNum}+')'" ></span>-->
              </div>
            </div>
          </div>
          <div th:if="${!#lists.isEmpty(pageInfo.list)}">
              <nav>
                  <ul class="pagination" style="margin:0px;font-size: 13px;">
                      <li><a th:href="@{${'/blog/list?'}+'pageNum=1&pageSize='+${pageInfo.pageSize}}">首页</a></li>

                      <li>
                          <a th:if="${not pageInfo.isFirstPage}" th:href="@{${'/blog/list?'}+'pageNum='+${pageInfo.pageNum-1}+'&pageSize='+${pageInfo.pageSize}}">上一页</a>
                          <a th:if="${pageInfo.isFirstPage}" style="cursor: not-allowed;" href="javascript:void(0);">上一页</a>
                      </li>

                      <li th:each="pageNo : ${#numbers.sequence(1, pageInfo.pages)}">
                          <a th:if="${pageInfo.pageNum eq pageNo}" href="javascript:void(0);" style="background-color: #ddd;">
                              <span th:text="${pageNo}"></span>
                          </a>

                          <a th:if="${not (pageInfo.pageNum eq pageNo)}" th:href="@{'/blog/list?pageNum='+${pageNo}+'&pageSize='+${pageInfo.pageSize}}">
                              <span th:text="${pageNo}"></span>
                          </a>
                      </li>
                      <li>
                          <a th:if="${not pageInfo.isLastPage}" th:href="@{'/blog/list?pageNum='+${pageInfo.pageNum+1}+'&pageSize='+${pageInfo.pageSize}}">下一页</a>
                          <a th:if="${pageInfo.isLastPage}" style="cursor: not-allowed;" href="javascript:void(0);">下一页</a>
                      </li>

                      <li><a th:href="@{${'/blog/list?'}+'pageNum='+${pageInfo.pages}+'&pageSize='+${pageInfo.pageSize}}">尾页</a></li>
                  </ul>
              </nav>
          </div>
      </div>
    </div>
  </div>
  <div th:include="common/right::right"></div>
  <!--/右侧>992px显示-->
</section>
<div th:include="common/footer::copyright"></div>
<div th:include="common/footer_js::footer_js"></div>
</body>
</html>
