<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}"></title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/amazeui.min.css}" type="text/css" rel="stylesheet"/>
    <!--<link th:href="@{/css/amazeui.flat.min.css}" type="text/css" rel="stylesheet"/>-->
    <link type="text/css" th:href="@{/css/nprogress.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/respond.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/selectivizr-min.js}" type="text/javascript"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icon/icon.png}"/>
    <link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
    <meta th:if="${blog != null}" name="Keywords" th:attr="CONTENT=${blog.keyword}" />
    <meta th:if="${blog != null}" HTTP-EQUIV="Keywords" th:attr="CONTENT=${blog.keyword}" />
    <meta th:if="${blog != null}" name="description" th:attr="CONTENT=${blog.contentShow}" />
    <script type="text/javascript">
        //判断浏览器是否支持HTML5
        window.onload = function() {
            if (!window.applicationCache) {
                window.location.href="ie.html";
            }

        }
    </script>
</head>
<body>
<header class="am-topbar am-topbar-inverse nav-style">
    <div th:include="common/menu::top">
    </div>
</header>
<section class="container user-select">
  <!--/超小屏幕可见-->
  <div class="content-wrap"><!--内容-->
    <div class="content">
       <div class="content-block new-content">
           <div th:if="${blog == null}" class="blog-detail-inner-box">找不到该博客</div>
           <div th:if="${blog != null}" class="blog-detail-inner-box">
               <h2 th:text="${blog.title}">
               </h2>
               <div class="blog-detail-numShow">
                   <p class="blog-ext">
                    <span th:if="${blog.isTransshipment == '0'}" class="blog-transshipment">原创</span>
                    <span th:if="${blog.isTransshipment == '1'}" class="blog-transshipment">转载</span>
                    <span class="blog-ext-ico">
                        <i class="glyphicon glyphicon-user"></i>
                       <span th:text="${blog.userName}"></span>
                    </span>
                       <span class="blog-ext-ico"><i class="glyphicon glyphicon-time"></i><span class="list-date" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></span>
                    <span class="blog-ext-ico">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span th:text="'共'+${blog.viewNum}+'人围观'"></span>
                    </span>
                   </p>
               </div>
               <hr class="blog-detail-hr"/>
              <p th:utext="${blog.content}"></p>

               <div th:if="${blog.isTransshipment == '0'}" class="blog-transshipment-show" style="color: #FF0000">版权声明：本文为博主原创文章，未经博主允许不得转载。</div>
               <div th:if="${blog.isTransshipment == '1'}" class="blog-transshipment-show">版权声明：本文为转载文章，原文出处：<a th:href="@{${blog.transshipmentUrl}}" target="_blank" th:alt="原文出处" >点击查看原文</a></div>
               <!-- JiaThis Button BEGIN -->
               <div class="jiathis_style_m"></div>
               <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
               <!-- JiaThis Button END -->
               <br/>
               <br/>
               <div>
                 <div>上一篇：<span th:if="${preBlog != null}"><a th:href="@{'/blog/detail/'+${preBlog.id}}" th:text="${preBlog.title}"></a></span> <span th:if="${preBlog == null}">没有了</span> </div>
                 <div>下一篇：<span th:if="${nextBlog != null}"><a th:href="@{'/blog/detail/'+${nextBlog.id}}" th:text="${nextBlog.title}"></a></span> <span th:if="${nextBlog == null}">没有了</span></div>
                </div>
           </div>
      </div>
    </div>
  </div>
  <div th:include="common/right::right"></div>
  <!--/右侧>992px显示-->
</section>
<div th:include="common/footer::copyright"></div>
<div th:include="common/footer_js::footer_js"></div>
</body>
<script type="javascript">
</script>

</html>
