<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
<div th:include="common/common_head::common_head('深蓝的星空')"></div>

<!--<link rel="stylesheet" th:href="@{/css/audio/mobile.css}">-->
<!--音频播放器-->
<link rel="stylesheet" th:href="@{/css/audio/audio_player.css}">
<body>
<header class="am-topbar am-topbar-inverse nav-style">
    <div th:include="common/menu::top">
    </div>
</header>
<section class="container user-select">
  <!--/超小屏幕可见-->
  <div class="content-wrap"><!--内容-->
      <div class="content">
        <div class="content-block new-content">
                功能正在开发中，敬请期待！！
        </div>
    </div>
  </div>
  <div th:include="common/right::right"></div>
  <!--/右侧>992px显示-->
</section>
<div th:include="common/footer::copyright"></div>
<div th:include="common/footer_js::footer_js"></div>
</body>

</html>
