<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon"  type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
<div th:include="/common/common_head::common_head('深蓝的星空')"></div>
<body>
<header class="am-topbar am-topbar-inverse nav-style">
    <div th:include="/common/menu::top">
    </div>
</header>
<section class="container user-select">
  <!--/超小屏幕可见-->
  <div class="content-wrap"><!--内容-->
      <div class="layui-tab-item layui-show">
          <iframe id="mainFrame" th:src="@{/welcome}" style="width: 100%;height: 100%" frameborder="0" scrolling="no" ></iframe>
      </div>
  </div>
  <div th:include="/common/right::right"></div>
  <!--/右侧>992px显示-->
</section>
<div th:include="/common/footer::copyright"></div>
<div th:include="/common/footer_js::footer_js"></div>
<script>
    (function() {
        var cacheHeight = 0;
        function run() {
            var mf = $("#mainFrame")[0];
            // when the main frame has already been loaded, the check its height
            if (mf && mf.contentDocument && mf.contentDocument.body) {
                var iframeHeight = $("#mainFrame")[0].contentDocument.body.clientHeight;
                if (iframeHeight && iframeHeight != cacheHeight) {
                    // cache the main frame height
                    cacheHeight = iframeHeight;
                    $("#mainFrame").height(iframeHeight);
                }
            }
            setTimeout(run, 200);
        }
        run();
    })();

</script>
</body>

</html>
