<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dymao.dao.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.dymao.model.Banner">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="showFlag" jdbcType="VARCHAR" property="showFlag" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, image, url, showFlag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update banner set deleted = '1'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.dymao.model.Banner">
    insert into banner (id, title, image, 
      url, showFlag, deleted, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{showFlag,jdbcType=INTEGER}, #{deleted,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dymao.model.Banner">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="showFlag != null">
        showFlag,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="deleteByBannerIds" parameterType="java.util.List">
     update banner set deleted = '1' where id in
      <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
          #{id,jdbcType=VARCHAR}
      </foreach>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dymao.model.Banner">
    update banner
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        showFlag = #{showFlag,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dymao.model.Banner">
    update banner
    set title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      showFlag = #{showFlag,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findBannerList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from banner where deleted = '0'
  </select>

  <select id="findAllBanner" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from banner  where deleted = '0'
  </select>

  <select id="findAllBannerCount" resultType="java.lang.Integer">
    select
      count(1)
    from banner where deleted = '0'
  </select>
</mapper>