<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dymao.dao.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.dymao.model.Blog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content_show" jdbcType="VARCHAR" property="contentShow" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="is_public" jdbcType="VARCHAR" property="isPublic" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="category_id_one" jdbcType="VARCHAR" property="categoryIdOne" />
    <result column="category_id_two" jdbcType="VARCHAR" property="categoryIdTwo" />
    <result column="view_num" jdbcType="INTEGER" property="viewNum" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="tread_num" jdbcType="INTEGER" property="treadNum" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="is_transshipment" jdbcType="VARCHAR" property="isTransshipment" />
    <result column="transshipment_url" jdbcType="VARCHAR" property="transshipmentUrl" />
    <result column="is_recommend" jdbcType="VARCHAR" property="isRecommend" />
    <result column="is_audit" jdbcType="VARCHAR" property="isAudit" />
    <result column="audit_user_id" jdbcType="VARCHAR" property="auditUserId" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dymao.model.Blog">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="BlogInfoWithOutBLOBs" type="com.dymao.vo.BlogVo">
    <result column="categoryOneName" jdbcType="VARCHAR" property="categoryOneName" />
    <result column="categoryTwoName" jdbcType="VARCHAR" property="categoryTwoName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, title, content_show, keyword, is_public, deleted, category_id_one, category_id_two, 
    view_num, like_num, tread_num, image, is_transshipment, transshipment_url, is_recommend, 
    is_audit, audit_user_id, authority, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update blog  set deleted = '1'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.dymao.model.Blog">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="contentShow != null">
        content_show,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="isPublic != null">
        is_public,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="categoryIdOne != null">
        category_id_one,
      </if>
      <if test="categoryIdTwo != null">
        category_id_two,
      </if>
      <if test="viewNum != null">
        view_num,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="treadNum != null">
        tread_num,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="isTransshipment != null">
        is_transshipment,
      </if>
      <if test="transshipmentUrl != null">
        transshipment_url,
      </if>
      <if test="isRecommend != null">
        is_recommend,
      </if>
      <if test="isAudit != null">
        is_audit,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="authority != null">
        authority,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentShow != null">
        #{contentShow,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdOne != null">
        #{categoryIdOne,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdTwo != null">
        #{categoryIdTwo,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null">
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="treadNum != null">
        #{treadNum,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="isTransshipment != null">
        #{isTransshipment,jdbcType=VARCHAR},
      </if>
      <if test="transshipmentUrl != null">
        #{transshipmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dymao.model.Blog">
    update blog
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentShow != null">
        content_show = #{contentShow,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdOne != null">
        category_id_one = #{categoryIdOne,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdTwo != null">
        category_id_two = #{categoryIdTwo,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null">
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="treadNum != null">
        tread_num = #{treadNum,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="isTransshipment != null">
        is_transshipment = #{isTransshipment,jdbcType=VARCHAR},
      </if>
      <if test="transshipmentUrl != null">
        transshipment_url = #{transshipmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        is_audit = #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectBlogList" parameterType="java.util.Map" resultMap="BlogInfoWithOutBLOBs">
    select
      a.id,user_id, title, content_show, keyword, is_public, deleted, category_id_one, category_id_two,
      view_num, like_num, tread_num, image, is_transshipment, is_recommend,
      is_audit, audit_user_id, authority, create_time,update_time
      ,b.`name` as categoryOneName, c.`name` as categoryTwoName
    from blog a
       LEFT JOIN blogcategory b
          on a.category_id_one = b.id
       LEFT JOIN blogcategory c
          on a.category_id_two = c.id
    <where>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
       and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="keyword != null">
        and keyword = #{keyword,jdbcType=VARCHAR}
      </if>
      <if test="contentShow != null">
        and  content_show = #{contentShow,jdbcType=VARCHAR}
      </if>
      <if test="isPublic != null">
        and is_public = #{isPublic,jdbcType=VARCHAR}
      </if>
      <if test="deleted != null">
        and  deleted = #{deleted,jdbcType=VARCHAR}
      </if>
      <if test="categoryIdOne != null">
        and category_id_one = #{categoryIdOne,jdbcType=VARCHAR}
      </if>
      <if test="categoryIdTwo != null">
        and category_id_two = #{categoryIdTwo,jdbcType=VARCHAR}
      </if>
      <if test="isTransshipment != null">
        and is_transshipment = #{isTransshipment,jdbcType=VARCHAR}
      </if>
      <if test="isRecommend != null">
        and  is_recommend = #{isRecommend,jdbcType=VARCHAR}
      </if>
      <if test="isAudit != null">
        and  is_audit = #{isAudit,jdbcType=VARCHAR}
      </if>
      <if test="archiveDate != null">
        and  DATE_FORMAT(create_time,'%Y-%m')= #{archiveDate,jdbcType=VARCHAR}
      </if>
      <if test="searchWord != null">
        and (title like  CONCAT('%',#{searchWord},'%')
      </if>
      <if test="searchWord != null">
        or content_show like CONCAT('%',#{searchWord},'%')
      </if>
      <if test="searchWord != null">
        or content like CONCAT('%',#{searchWord},'%') )
      </if>
      <if test="searchWord != null">
        or content like CONCAT('%',#{searchWord},'%') )
      </if>
      <if test="list != null">
          and a.id in
          <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
              #{id,jdbcType=VARCHAR}
          </foreach>
      </if>
    </where>
     order by create_time desc
  </select>

  <select id="selectHotBlogList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    a.id, title, a.view_num,image
    from blog a
    <where>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=VARCHAR}
      </if>
      <if test="deleted != null">
        and  deleted = #{deleted,jdbcType=VARCHAR}
      </if>
      <if test="isAudit != null">
        and  is_audit = #{isAudit,jdbcType=VARCHAR}
      </if>
    </where>
    order by a.view_num desc
    LIMIT 0,6
  </select>

  <select id="selectRandomBlogList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    a.id, title, a.view_num,image
    from blog a
    <where>
      <if test="isPublic != null">
        is_public = #{isPublic,jdbcType=VARCHAR}
      </if>
      <if test="deleted != null">
        and  deleted = #{deleted,jdbcType=VARCHAR}
      </if>
      <if test="isAudit != null">
        and  is_audit = #{isAudit,jdbcType=VARCHAR}
      </if>
      <if test="isAudit != null">
        and  is_audit = #{isAudit,jdbcType=VARCHAR}
      </if>
      <if test="list != null">
          and id in
          <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
              #{id,jdbcType=VARCHAR}
          </foreach>
      </if>
    </where>
  </select>


  <select id="selectPreBlog" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT a.ID,a.TITLE FROM blog a
      WHERE ID = (
        select  MAX(id) from  blog  where  id <![CDATA[<]]> #{id,jdbcType=VARCHAR} and deleted = '0'  and is_audit = '0' and is_public ='0'  order by id desc
    )
  </select>
  <select id="selectNextBlog" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT a.ID,a.TITLE FROM blog a WHERE ID = (
      select  MIN(id)  from  blog  where  id > #{id,jdbcType=VARCHAR} and deleted = '0'  and is_audit = '0' and is_public ='0'  order by id
     )
  </select>

  <!-- 更新浏览次数 -->
  <update id="updateViewNumByPrimaryKey" parameterType="java.util.Map">
    update blog  set view_num = view_num +1
      where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 更新点赞次数 -->
  <update id="updateLikeNumByPrimaryKey" parameterType="java.util.Map">
    update blog  set like_num = like_num +1
      where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 更新踩的次数 -->
  <update id="updateTreadNumByPrimaryKey" parameterType="java.util.Map">
    update blog  set tread_num = tread_num +1
      where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectBlogArchiveList" parameterType="java.util.Map" resultType="java.util.Map">
    select v.month as monthVal, concat(replace(v.`month`,'-','年'),'月')as monthKey,ifnull(b.blogNum,0) blogNum
      from past_12_month_view v
        left join (
                select DATE_FORMAT(t.create_time,'%Y-%m') month,count(t.id) blogNum
                  from blog t
                where DATE_FORMAT(t.create_time,'%Y-%m')> DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
                <if test="isPublic != null">
                  and is_public = #{isPublic,jdbcType=VARCHAR}
                </if>
                <if test="deleted != null">
                  and  deleted = #{deleted,jdbcType=VARCHAR}
                </if>
                <if test="isAudit != null">
                  and  is_audit = #{isAudit,jdbcType=VARCHAR}
                </if>
                group by month desc
      ) b
    on v.month = b.month group by v.month desc
  </select>

   <insert id="saveBlogLabels" parameterType="java.util.Map">
       insert into blog_label(blog_id,label_id) values(#{blogId,jdbcType=VARCHAR},#{labelId,jdbcType=VARCHAR})
   </insert>

   <delete id="delBlogLabels"  parameterType="java.lang.String">
       delete from  blog_label  where  blog_id = #{blogId,jdbcType=VARCHAR}
   </delete>

    <select id="queryBlogIdByLabelId" parameterType="java.util.Map" resultType="java.lang.String">
        select blog_id from blog_label where label_id = #{labelId,jdbcType=VARCHAR};
    </select>
</mapper>